@{
    ViewBag.Title = "About";
}

<br />
<h1>
About Bike Works 
</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-thumbnail" src="https://images.unsplash.com/photo-1470860582708-d627d604a806?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" style="width:500px;"  />
        </div>
        <br />
        <div class="col-sm-6 text-center">
                Bike Works was founded by renound cyclist John Doe in 2013. John opened his first shop
                on the historic Main Street in St. Charles Missouri right next to Katy Trail.
                For the past 6 years John and his crew have only supplied the shop
                with the best quality products for every type of cyclist. 
                If you can't find the part or bike your looking for in-store Bike Works online shop 
                has an extensive collection of parts and accessories, and of course shipping is always free 
                when you order from in-store.
        </div>
    </div>
</div>

