@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="display-4">
About Bike Works 
</div>
<p>Bike works was founded in St. Louis Missouri by John Doe in 2013. 
    For the past 6 years John and his crew have only supplied the shop 
    with quality well-manufactured products for every type of cyclist.
</p>
