@{
    ViewBag.Title = "SalesOrders Home";
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    <title>Bike Works</title>
</head>

<body>

    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Mountain Bike Sale</h1>
                        <h3>Mountain Bikes up to 30% </h3>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Our Parts Promise</h1>
                        <h3>If you can't find it in store, <br /> we'll ship it free </h3>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>New Arrivals</h1>
                        <h3>New Redline Trail <em>250</em></h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Shop Now</button>
                </div>
            </div>
        </div>
    </div>


    
    <h2 class="display-1 text-center"> Trust Us for Your Cycling Supplies  </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                This is a classic Black Mountain trail and was featured in Freehub Magazine's
                Pisgah Photo Book: Issue 6. The climb to the top ends with a beautiful vista of
                Twin Lakes and the surrounding area. Out of the parking lot, take your first left.
                Tree is elevated, so not rideable for most. While it has no real technical features
                to speak of since being redesigned, it is a lot of fun to ride this glassy smooth and
                generally well-bermed trail.
            </div>
            
            <div class="col-sm-4">
                Watch that you don't overshoot the switchback to stay on the black diamond
                descent - the blue route is completely overgrown. This created a reroute of the single
                track. The decent to the upper Chimney Beach parking area is an amazing finish to
                what was likely a great ride with amazing views. All hits are roll-able and built for
                progressing your jumping skillz. Freeze-thaw cycle isn't awful, but does make this trail
                rather slick.
            </div>          
            <div class="col-sm-4">
                If you continue, the trail ends at one of the lakes and continues lakeside until reaching
                the point where you began the trail The lake-side bit is fairly technical and very fun.
                Rowdy little downhill/freeride track. The trails are well drained and suitable for riding
                when wet. Third Divide makes up part of the classic Downieville downhill route. There
                are actually three trails which make up the loop: Horse Creek-Cattle Creek-Lower Twin
                Lake.
            </div>
        </div>
    </div>
    <br />


</body>
</html>